/project-venv
/test-venv
**/__pycache__/ 
/.vscode
*.ipynb
project/models/data/rain
*test*
/sql_bak
/papp
/rain
sql_login.py
credentials.py

# Flask gitignores
*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/