{% extends "base.html" %}

{% block title %}Toronto Indicators{% endblock %}

{% block content %}

<div class="container-xxl">
    
    <div class="row">
        <div class="col">
            <div class="card border-0 mb-1">
                <div class="card-body">
                    <h5 class="card-title">Toronto Monthly Indicators</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card border-0 mb-1">
                <div class="card-body">
                    <h5 class="card-title">Line Plot</h5>
                    <h6 class="card-subtitle text-muted">Select Indicator</h6>
                    <div>{{simple_line_plot|safe }}</div>
                </div>
            </div>
        </div>
    </div>    

    <div class="row">
        <div class="col">
            <div class="card border-0 mb-1">
                <div class="card-body">
                    <h5 class="card-title">Indexed Plot</h5>
                    <h6 class="card-subtitle text-muted">2020-01 Value = 100</h6>
                    <div>{{indexed_line_plot|safe }}</div>
                </div>
            </div>
        </div>
    </div>  

    <div class="row">
        <div class="col">
            <div class="card border-0 mb-1">
                <div class="card-body">
                    <h5 class="card-title">Year-over-Year %</h5>
                    <h6 class="card-subtitle text-muted">Select Indicator</h6>
                    <div>{{yoy_line_plot|safe }}</div>
                </div>
            </div>
        </div>
    </div>  

</div>

{% endblock %}