{% extends "base.html" %}

{% block title %}Toronto Trails{% endblock %}

{% block content %}

<div class="container-xxl">
    
    <div class="row">
        <div class="col">
            <div class="card border-0 mb-1">
                <div class="card-body">
                    <h5 class="card-title">Toronto Trails</h5>
                    <p class="card-subtitle text-muted">Map of trails and larger parks</p>
                    <div>{{ toronto_trails|safe }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card border-0 mb-1">
                <div class="card-body">
                    <h5 class="card-title">Current Conditions</h5>
                    <p class="card-subtitle text-muted">based on past week weather</p>
                    <div>{{ current_condition|safe }}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card border-0 mb-1">
                <div class="card-body">
                    <h5 class="card-title">Next 2 Days</h5>
                    <p class="card-subtitle text-muted">to help plan trips</p>
                    <div>{{ next_two_days|safe }}</div>
                </div>
            </div>
        </div>
    </div>    
    <!--add recommendation for trails--> 
    
</div>

{% endblock %}