{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container-xxl">
    <div class="row ">
        <div class="col-lg-6">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">Goal</h5>
                    <p class="card-text text-muted">To bring easier access to data about Toronto</p>
                </div>
                <ul class="list-group list-group-flush text-muted">
                    <li class="list-group-item border-0 text-muted"><strong>Dashboard</strong> with latest information</li>
                    <li class="list-group-item border-0 text-muted"><strong>Stories</strong> highlighting interesting facts about Toronto</li>
                    <li class="list-group-item border-0 text-muted">Area to <strong>explore</strong> of Toronto public data</li>
                </ul>
                <br>

                <div class="card-body">
                    <h5 class="card-title">Technologies</h5>
                    <p class="card-text text-muted">Hosted on AWS</p>
                    <img src="/static/img/arch_diagram_v4.svg" alt="" width="" height="" class="card-img-top">
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">Get In Touch</h5>
                    <form action="/about" method="POST">
                        <div class="mb-3">
                            <label for="FormControlEmail" class="form-label text-muted">Email Address</label>
                            <input type="email" class="form-control" id="EmailInput" name="email" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="FormControlComment" class="form-label text-muted">Comment</label>
                            <textarea class="form-control" id="CommentInput" name="comment" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>    
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            
        </div>
        
    </div>


</div>


{% endblock %}