{% extends "base.html" %}

{% block title %}Toronto Dashboard{% endblock %}

{% block content %}

<div class="container-xxl">
    <div class="row">
        <div class="col-4">
            <div class="card border-light mb-1">
                <div class="card-body">
                  <h5 class="card-title">Dashboard</h5>
                  <h6 class="card-subtitle mb-1 text-muted">Latest Toronto Information<br> News, Weather, Events
                  </h6>
                  <p class="card-text mb-1 text-muted">{{ toronto_time }}</p>
                </div>
            </div>   
        </div>
        
        <div class="col-8">
            <div class="row no-gutters">

                <div class="card-group">
                    <div class="card border-light mb-1">
                        <div class="card-body">
                            <h6 class="card-subtitle">Current Weather</h6>
                            <p class="card-text"><small class="text-muted">
                                {{ dw.current.weather }}<br>
                                {{ dw.current.temp_c }} c<br>
                                wind {{ dw.current.wind_speed_kmh }} km/h<br>
                            </small></p>
                        </div>
                    </div>    
                    <div class="card border-light mb-1">
                        <div class="card-body">
                            <h6 class="card-subtitle">Next Hour</h6>
                            <p class="card-text"><small class="text-muted">
                                {{ dw.next_hour.weather }}<br>
                                {{ dw.next_hour.temp_c }} c<br>
                                wind {{ dw.next_hour.wind_speed_kmh }} km/h<br>
                                {{ dw.next_hour.PoP }} % precipitation
                            </small></p>
                        </div>
                    </div>    
                    <div class="card border-light mb-1">
                        <div class="card-body">
                            <h6 class="card-subtitle">Next Day</h6>
                            <p class="card-text"><small class="text-muted">
                                {{ dw.next_day.weather }}<br>
                                high {{ dw.next_day.max_temp_c }} low {{ dw.next_day.min_temp_c }} c<br>
                                wind {{ dw.next_day.wind_speed_kmh }} km/h<br>
                                {{ dw.next_day.PoP }} % precipitation
                            </small></p>
                        </div>    
                    </div>
                    <div class="card border-light mb-1">
                        <div class="card-body">
                            <h6 class="card-subtitle">Alerts</h6>
                            <p class="card-text"><small class="text-muted">
                              N/A <br>
                        
                            </small></p>
                        </div>    
                    </div>
                </div>

            </div>

        </div>   
    </div>
    
    <div class="row">
        <div class="col-6">
            <div class="card border-light mb-0">
                <div class="card-body">
                    <h5 class="card-title">Local News</h5>
                </div>

                <div class="accordion accordion-flush mb-0" id="accordionNews">
                {% for item in local_news %}
                    <div class="accordion-item">
                      <h6 class="accordion-header" id="flush-heading{{ loop.index }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ loop.index }}" aria-expanded="false" aria-controls="flush-collapse{{ loop.index }}">
                         {{ item.headline }}
                        </button>
                    </h6>
                      <div id="flush-collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ loop.index }}" data-bs-parent="#accordionNews">
                        <div class="accordion-body text-muted">{{ item.description }}...</div>
                      </div>
                    </div>
                {% endfor %}
                </div>
                

            </div>
        </div>

        <div class="col-6">
            <div class="card border-light mb-0">
                <div class="card-body">
                    <h5 class="card-title">Points of Interest</h5>
                    {{ points_of_interest|safe }}
                
                </div>

            </div>

        </div>

   </div>

</div>

{% endblock %}