<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Toronto Power Usage{% endblock %}

{% block content %}
<div class="container-xxl">
    
    <div class="row">
        <div class="card text-center border-0 mb-3">
            <div class="card-body">
            <h3>Which factors drive power usage in Toronto?</h3>
            </div>
        </div>
    </div>

    <div class="row">
        {{ graph_1|safe }}
    </div>

    <div class="row">
        {{ graph_2|safe }}
    </div>

</div>



{% endblock %}